body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

/* Form Styling */
form {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #34495e;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    resize: vertical;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Post Actions */
.post-actions {
    display: flex;               /* Buttons horizontal nebeneinander */
    justify-content: flex-start;     /* Zentriert die Buttons */
    align-items: center;         /* Vertikal zentriert */
    gap: 10px;                   /* Abstand zwischen den Buttons */
    margin-top: 10px;
}

.update-btn,
.delete-btn {
    padding: 5px 12px;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn {
    background-color: #3498db;
    color: white;
}

.update-btn:hover {
    background-color: #2980b9;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.heart-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: gray;
    padding: 0;                  /* kompakt */
    outline: none;
}

.heart-btn.active {
    color: red;
}